<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139109314186-d2m61jp2r9gt5r1lqhu49ohp1k9mucev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139109314186-d2m61jp2r9gt5r1lqhu49ohp1k9mucev</string>
	<key>API_KEY</key>
	<string>AIzaSyCyRbVwSv_rqpwrdC8X_hsEvTv0xuDOS2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>139109314186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.everdellApp</string>
	<key>PROJECT_ID</key>
	<string>everdell-c4fad</string>
	<key>STORAGE_BUCKET</key>
	<string>everdell-c4fad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139109314186:ios:d9ac7beadaa4a860bec773</string>
</dict>
</plist>